

#form {
	margin: auto;
	width: 200px;
	height: 100px;
}

.box {
    background-color:white;
    width:80px;
    height:75px;

    border:solid black 2px;
    border-radius: 15px;
		font-style: italic;

}

.red{
    background-color:#F82B2B;
    width:80px;
    height:75px;
    border:solid black 2px;
    border-radius: 15px;
		color:black;
		font-style: italic;
		font-size: 40px;
padding-top: 10px;
}

.green{
    background-color:lightgreen;
    width:80px;
    height:75px;
    border:solid black 2px;
    border-radius: 15px;
		font-style: italic;
font-size: 40px;
padding-top: 10px;

}

.blue{
    background-color:#0699FB;
    width:80px;
    height:75px;
    border:solid black 2px;
    border-radius: 15px;
		color:white;
		font-style: italic;
		font-size: 30px;

}

#log_out{
    float:right;
    margin-right:40px;
    margin-top: 40px;
}

table td{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}
button:focus {
  outline: none;
}

th, td {
    border-bottom: 1px solid #ddd;

}
